<% include partials/header %>

      <!-- <link rel="stylesheet" href="style/admin.css"> -->
      <link rel="stylesheet" href="style/tables.css">
      <script src="js/sorttable.js"></script>
      <script src="js/tables.js"></script>

  </head>

  <body>

    <div class="container-fluid" id="header">
      <h1>Welcome to MARTA Online</h1>
    </div>

    <div class="container" id="window-cnt">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Passenger Flow Report</h3>
        </div>
        
        <form method="GET" action="/admin_main" class="back-btn">
          <button type="submit" class="btn btn-primary">Back</button>
        </form>
        
        <div class="error">
          <% if(messages){ %>
            <% messages.forEach(function(message){ %>
              <%= message %> <br>
            <% }) %>
          <% } %>
        </div>

        <form method="POST" action="/filterflow">
          <div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <label>Start Time </label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <input type="text" id="start-input" name="startTime" placeholder="YYYY-MM-DD HH:MM:SS" class="form-control" <% if(start){ %> value=<%= start %> <% } %> >
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-info" id="reset-flow-filter-btn">Reset</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <label>End Time </label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <input type="text" id="end-input" name="endTime" placeholder="YYYY-MM-DD HH:MM:SS" class="form-control" <% if(end){ %> value=<%= end %> <% } %> >
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <button type="submit" class="btn btn-info" id="reset-filter-btn">Update</button>
                </div>
            </div>
          </div>
        </form>

        <div class="">
          <table class="sortable">
            <tr>
              <th>Station Name</th>
              <th># Passengers In</th> 
              <th># Passengers Out</th>
              <th>Flow</th>
              <th>Revenue</th>
            </tr>
            <!-- table stuff here -->
            <%if(flows){ %>
              <% flows.forEach(function(flow){ %>
                <tr class='table-row' data=<%= flow.Name %>>
                  <td> <%= flow.Name %> </td>
                  <td> <%= flow.PassengersIn %> </td>
                  <td> <%= flow.PassengersOut %> </td>
                  <td> <%= flow.Flow %> </td>
                  <td> $<%= flow.Revenue %> </td>
                </tr>
              <% }) %>
            <% } %>
          </table>
        </div>
        <div class="error">
          <% if(messages){ %>
            <% messages.forEach(function(message){ %>
              <%= message %> <br>
            <% }) %>
          <% } %>
        </div>
      </div>
    </div>
  </body>

  <!-- // <script src="js/admin.js"></script> -->

<% include partials/footer %>
