<% include partials/header %>

	    <link rel="stylesheet" href="style/tables.css">
      <script src="js/sorttable.js"></script>
      <script src="js/tables.js"></script>

  </head>

  <body>

    <div class="container-fluid" id="header">
      <h1>Welcome to MARTA Online</h1>
    </div>

    <div class="container" id="window-cnt">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Cards</h3>
        </div>
        <form method="POST" action="/addcard" class="back-btn">
          <button type="submit" class="btn btn-primary" formaction='/passenger_main'>Back</button>
        </form>
        <h2 style="margin-left: 30px"> Breeze Cards </h2>
        <div class="">
          <table class="sortable">
            <tr>
              <th>Card Number</th>
              <th>Value</th> 
              <th>Remove</th>
            </tr>
            <% if(cards){ %>
              <% cards.forEach(function(card){ %>
                <tr class='table-row' data=<%= card.Number %>>
                  <td>  <%= card.Number %>  </td>
                  <td class="stationId">  <%= card.Value %>  </td>
                  <td> <a href= <%= "./removecard?cardnum=" + card.Number %> class='btn btn-primary remove-btn' style="margin: 5px"> Remove </a> </td>
                </tr>
              <% }) %>
            <% } %>
          </table>
        </div>


          <form method="POST" action="/addcard" class="back-btn">
          <div class="container-fluid" id="box"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
                <div class="row" style="padding: 20px">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="w3-dropdown-hover">
                        <input type="text" id="inline-input" name="cardnum" placeholder="0000 0000 0000 0000" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <button type="submit" class="btn btn-primary" id="">Add Card</button>
                    </div>
                </div>
          <form>


        <div class="error">
          <% if(messages){ %>
            <% messages.forEach(function(message){ %>
              <%= message %> <br>
            <% }) %>
          <% } %>
        </div>

          <div class="container-fluid" id="breeze-cnt">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Add Value to Selected Card</h3>
              </div>
              
              <div class="container-fluid" id="box"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
                <div class="row" style="padding-top: 20px">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                        <label>Credit Card # </label>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <input type="text" id="cc-input" name="ccnum" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                        <label>Value </label>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="w3-dropdown-hover">
                        <input type="text" id="value-input" name="cardval" placeholder="" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <form method="POST" action="/addcard" class="back-btn">
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input id="selectedSecretBox" name="cardnum" style="position: absolute; left: 100000px"></input>
                        <button type="submit" class="btn btn-primary" id="add-value-btn" formaction="/addcardvalue">Add Value</button>
                      </div>
                    </form>
                </div>
          </div>
      </div>

      </div>
    </div>
  </body>


<% include partials/footer %>